<div class="col-xs-12 text-center">
  <h2>Fiscal Year 2019</h2>
</div>


<div class="col-sm-3">
  <h1 class="fa-lg">Quarter 1</h1>

  <div class="col-sm-12">
    <h1 class="fa-lg">Februrary</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">1</td>
          <td style="color: rgb(0, 125, 184) ;">1</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">2</td>
          <td style="color: rgb(0, 125, 184) ;">2</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">3</td>
          <td style="color: rgb(0, 125, 184) ;">3</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">4</td>
          <td style="color: rgb(0, 125, 184) ;">4</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>1</td>
          <td style="background-color:rgb(218,150,148);">2</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <h1 class="fa-lg">March</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">5</td>
          <td style="color: rgb(0, 125, 184) ;">5</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">6</td>
          <td style="color: rgb(0, 125, 184) ;">6</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">7</td>
          <td style="color: rgb(0, 125, 184) ;">7</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">8</td>
          <td style="color: rgb(0, 125, 184) ;">8</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <h1 class="fa-lg">April</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">9</td>
          <td style="color: rgb(0, 125, 184) ;">9</td>
          <td>31</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td style="background-color:rgb(33,89,103);">6</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">10</td>
          <td style="color: rgb(0, 125, 184) ;">10</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td style="background-color:rgb(196,215,155);">13</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">11</td>
          <td style="color: rgb(0, 125, 184) ;">11</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">12</td>
          <td style="color: rgb(0, 125, 184) ;">12</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">13</td>
          <td style="color: rgb(0, 125, 184) ;">13</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="col-sm-3">
  <h1 class="fa-lg">Quarter 2</h1>

  <div class="col-sm-12">
    <h1 class="fa-lg">May</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">1</td>
          <td style="color: rgb(0, 125, 184) ;">14</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">2</td>
          <td style="color: rgb(0, 125, 184) ;">15</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">3</td>
          <td style="color: rgb(0, 125, 184) ;">16</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">4</td>
          <td style="color: rgb(0, 125, 184) ;">17</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td style="background-color:rgb(218,150,148);">1</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-sm-12">
    <h1 class="fa-lg">June</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">5</td>
          <td style="color: rgb(0, 125, 184) ;">18</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">6</td>
          <td style="color: rgb(0, 125, 184) ;">19</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">7</td>
          <td style="color: rgb(0, 125, 184) ;">20</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">8</td>
          <td style="color: rgb(0, 125, 184) ;">21</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <h1 class="fa-lg">July</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">9</td>
          <td style="color: rgb(0, 125, 184) ;">22</td>
          <td>30</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td style="background-color:rgb(33,89,103);">6</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">10</td>
          <td style="color: rgb(0, 125, 184) ;">23</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td style="background-color:rgb(196,215,155);">13</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">11</td>
          <td style="color: rgb(0, 125, 184) ;">24</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">12</td>
          <td style="color: rgb(0, 125, 184) ;">25</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">13</td>
          <td style="color: rgb(0, 125, 184) ;">26</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>

        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="col-sm-3">
  <h1 class="fa-lg">Quarter 3</h1>

  <div class="col-sm-12">
    <h1 class="fa-lg">August</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">1</td>
          <td style="color: rgb(0, 125, 184) ;">27</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">2</td>
          <td style="color: rgb(0, 125, 184) ;">28</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">3</td>
          <td style="color: rgb(0, 125, 184) ;">29</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">4</td>
          <td style="color: rgb(0, 125, 184) ;">30</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td style="background-color:rgb(218,150,148);">31</td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <h1 class="fa-lg">September</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">5</td>
          <td style="color: rgb(0, 125, 184) ;">31</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">6</td>
          <td style="color: rgb(0, 125, 184) ;">32</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">7</td>
          <td style="color: rgb(0, 125, 184) ;">33</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">8</td>
          <td style="color: rgb(0, 125, 184) ;">34</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>

        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <h1 class="fa-lg">October</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">9</td>
          <td style="color: rgb(0, 125, 184) ;">35</td>
          <td>29</td>
          <td>30</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td style="background-color:rgb(33,89,103);">5</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">10</td>
          <td style="color: rgb(0, 125, 184) ;">36</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td style="background-color:rgb(196,215,155);">12</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">11</td>
          <td style="color: rgb(0, 125, 184) ;">37</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">12</td>
          <td style="color: rgb(0, 125, 184) ;">38</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">13</td>
          <td style="color: rgb(0, 125, 184) ;">39</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>1</td>
          <td>2</td>


        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="col-sm-3 text-center">
  <h1 class="fa-lg">Quarter 4</h1>

  <div class="col-sm-12">
    <h1 class="fa-lg">November</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">1</td>
          <td style="color: rgb(0, 125, 184) ;">40</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>

        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">2</td>
          <td style="color: rgb(0, 125, 184) ;">41</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">3</td>
          <td style="color: rgb(0, 125, 184) ;">42</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">4</td>
          <td style="color: rgb(0, 125, 184) ;">43</td>

          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td style="background-color:rgb(218,150,148);">30</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-sm-12">
    <h1 class="fa-lg">December</h1>
    <table class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">5</td>
          <td style="color: rgb(0, 125, 184) ;">44</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">6</td>
          <td style="color: rgb(0, 125, 184) ;">45</td>

          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">7</td>
          <td style="color: rgb(0, 125, 184) ;">46</td>

          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">8</td>
          <td style="color: rgb(0, 125, 184) ;">47</td>

          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <h1 class="fa-lg">January</h1>
    <table class="col-xs-12" class="col-xs-12">
      <thead>
        <th style="color: rgb(0, 125, 184) ;">QW</th>
        <th style="color: rgb(0, 125, 184) ;">W</th>
        <th>Sa</th>
        <th>Su</th>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
      </thead>
      <tbody>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">9</td>
          <td style="color: rgb(0, 125, 184) ;">48</td>

          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td style="background-color:rgb(33,89,103);">4</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">10</td>
          <td style="color: rgb(0, 125, 184) ;">49</td>

          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td style="background-color:rgb(196,215,155);">11</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">11</td>
          <td style="color: rgb(0, 125, 184) ;">50</td>

          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">12</td>
          <td style="color: rgb(0, 125, 184) ;">51</td>

          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
        </tr>
        <tr>
          <td style="color: rgb(0, 125, 184) ;">13</td>
          <td style="color: rgb(0, 125, 184) ;">52</td>

          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="col-xs-12 text-center">
    <h2 style="color:rgb(218,150,148);">Feedback due from markets</h2>
    <h2 style="color:rgb(33,89,103);">Files due from markets; check US avail</h2>
    <h2 style="color:rgb(196,215,155);">*Last day to submit files to EDGE team</h2>
  </div>